@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="../Assets/banner.png"/>
<br/>
<a href="Menu">Menu</a>
<br/>
<a href="About">About us</a>
<br/>
<a href="Privacy">Privacy Policy</a>