@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="images/banner.png" width="200" height="200"/>
<br/>
<a href="Menu">Menu</a>
<br/>
<a href="About">About us</a>
<br/>
<a href="Privacy">Privacy Policy</a>